In [2]:
import pandas as pd
from config import CFG

df = pd.read_csv(CFG.TRAIN_DF_PATH)

In [9]:
df.head()

,image_name,BBox_xmin,BBox_ymin,BBox_xmax,BBox_ymax,Daily,Gender,Embellishment
0,1209/BO00001-1.jpg,45,197,313,393,4,4,0
1,1209/BO00002-1.jpg,117,114,476,556,1,4,1
2,1209/BO00003-1.jpg,62,212,372,544,1,4,0
3,1209/BO00004-1.jpg,159,17,484,395,1,4,1
4,1209/BO00005-1.jpg,51,54,561,441,1,2,0

In [7]:
import matplotlib.pyplot as plt

df['Gender'].value_counts()

Gender
3    4288
1    2759
2    2703
0     930
4     523
Name: count, dtype: int64

In [10]:
df['Daily'].value_counts()

Daily
1    6852
3    1683
2    1065
0     589
4     572
5     442
Name: count, dtype: int64

In [11]:
df['Embellishment'].value_counts()

Embellishment
0    6177
1    3323
2    1703
Name: count, dtype: int64